@import url(https://fonts.googleapis.com/css?family=Handlee);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1 {text-align: center; color: IndianRed; font-family: 'Handlee', cursive;}
h2 {text-align: center; color: black;}
P {text-align:left; color: black; font-family: 'Open Sans', sans-serif;}
